<h1>Home</h1>
<p>1312022 - Nguyễn Hoài Ân</p><br>
<%= link_to('Hello', :controller => 'hello', :action => 'index') %>
<br>
<%= link_to('Calculator', :controller => 'calc', :action => 'index') %>
<br>
<%= link_to('Users', :controller => 'users', :action => 'index') %>
